# JetBrains / WebStorm
.idea/
*.iml
*.iws
out/

# macOS
.DS_Store
.AppleDouble
.LSOverride
._*
.Spotlight-V100
.Trashes

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json

# Env files
.env
.env.local

# Build output
dist/
build/

package.json