/* base resets */
body, h1, h2, h3 {
    margin: 0;
}

body {
    font-size: 1rem;
    color: #2b283a;
    font-family: 'Roboto', sans-serif;
}

/* typography */

h1 {
    color: whitesmoke;
    font-size: 2.25rem;
}

h3 {
    color: #d0aaff;
    font-size: 1.25rem;
}

p{
    line-height: 23px;
}
/* links */

a {
    color: #ef5839;
    text-decoration: underline dotted;
}

a:hover, a:active {
    color: #d4b44c;
}

/* layout */
header, section, footer {
    padding: 2.5rem 0;
}

header, .section-two {
    background-color: #5f29a3;
}

.section-two {
    color: whitesmoke;
}

.container {
    width: 620px;
    margin: 0 auto;
}

.main-image {
    width: 100%;
}

.section-two-image-container {
    display: flex;
    justify-content: space-between;
}

.feature-image {
    width: 300px;
    border-radius: 0.2875rem;
}

footer {
    text-align: center;
    color: #5f29a3;
}


.button-link {
    display: inline-block;
    padding: 10px 19px;
    border-radius: 4.6px;
    font-weight: 500;
    text-decoration: none;
}

.button-link:hover, .button-link:active {
    background-color: #f3e885;
    color: #2b283a;
}

.button-primary {
    background-color: #5f29a3;
    color: whitesmoke;
}

.button-secondary {
    background-color: #f0e0ff;
    color: #5f29a3;
}

.button-tertiary {
    background-color: white;
    color: #5f29a3;
}